#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        modkeyrepeat: modkeyrepeat {
            compatible = "zmk,behavior-hold-tap";
            label = "MODKEYREPEAT";
            bindings = <&kp>, <&key_repeat>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-on-release;
        };

        layertap: layertap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERTAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;

            hold-while-undecided;
        };
    };

    macros {
        alttab: alttab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALTTAB";
        };

        powertoys: powertoys {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "POWERTOYS";
        };

        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp R &kp I &kp C &kp K &kp Y &kp Z &kp H &kp A &kp N &kp G &kp N1 &kp N9 &kp N6 &kp AT &kp O &kp U &kp T &kp L &kp O &kp O &kp K &kp DOT &kp C &kp O &kp M>;

            label = "EMAIL";
        };

        something: something {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp H>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp Y &kp P &kp E &kp R &kp I &kp O &kp N &kp S &kp N1 &kp N9 &kp N6>;

            label = "PASSWORD";
        };

        copyall: copyall {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp G &kp G>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp V &kp G>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp Y>;

            label = "COPYALL";
        };

        printscreen: printscreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp PRINTSCREEN>;

            label = "PRINTSCREEN";
        };
    };

    combos {
        compatible = "zmk,combos";

        huh {
            bindings = <&kp A>;
            key-positions = <70 71 53>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&rgb_ug RGB_BRD  &kp N1     &kp N2       &kp N3    &kp N4     &kp N5  &tog 0                                                                                &mo 1      &kp N6  &kp N7  &kp N8     &kp N9       &kp N0         &rgb_ug RGB_BRI
&kp TAB          &kp Q      &kp W        &kp F     &kp P      &kp B   &alttab                                                                               &none      &kp J   &kp L   &kp U      &kp Y        &kp SEMICOLON  &kp MINUS
&kp EQUAL        &kp A      &kp R        &kp S     &kp T      &kp G   &powertoys             &mt LALT DELETE   &mo 2         &kp LGUI      &layertap 1 ESC  &none      &kp M   &kp N   &kp E      &kp I        &kp O          &kp SQT
&kp LSHFT        &kp Z      &kp X        &kp C     &kp D      &kp V                                            &kp HOME      &printscreen                              &kp K   &kp H   &kp COMMA  &kp DOT      &kp FSLH       &kp RSHFT
&tog 1           &kp GRAVE  &key_repeat  &kp LEFT  &kp RIGHT          &layertap 1 BACKSPACE  &mt LCTRL ESCAPE  &kp END       &copyall      &mt RCTRL ENTER  &kp SPACE          &kp UP  &kp DOWN   &key_repeat  &kp BSLH       &tog 2
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&bt BT_SEL 0  &none       &none            &none             &none           &none        &none                                                               &trans       &none      &none            &none                 &none                  &kp F10        &kp F11
&bt BT_SEL 1  &none       &kp AT_SIGN      &kp HASH          &kp DOLLAR      &kp PERCENT  &bootloader                                                         &bootloader  &kp J      &kp AMPERSAND    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none          &kp F12
&kp CAPSLOCK  &kp TILDE   &kp EXCLAMATION  &kp LEFT_BRACKET  &kp LEFT_BRACE  &none        &none          &kp LEFT_ALT  &none           &bt BT_CLR  &none      &none        &kp CARET  &kp RIGHT_BRACE  &kp RIGHT_BRACKET     &kp I                  &kp ASTERISK   &kp GRAVE
&none         &kp F1      &kp F2           &kp F3            &kp F4          &kp F5                                    &email          &none                               &kp F6     &kp F7           &kp F8                &kp F9                 &kp BACKSLASH  &none
&tog 0        &bl BL_TOG  &rgb_ug RGB_TOG  &kp LEFT          &kp RIGHT                    &kp BACKSPACE  &kp LCTRL     &something      &none       &kp ENTER  &kp SPACE               &kp UP_ARROW     &kp DOWN              &none                  &none          &tog 0
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                        &trans  &trans  &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                        &trans  &trans  &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB5  &trans  &trans  &mmv MOVE_LEFT  &mkp MCLK       &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                    &trans  &trans          &mmv MOVE_DOWN  &trans           &trans  &trans
&tog 0  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &mkp MB4  &trans          &trans          &trans          &trans           &trans  &tog 0
            >;
        };
    };
};
